a {
    width: max-content;
}

p, span {
    color:aqua;
    margin: 0px;
}

/******** class ********/

.navbar {
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
}

.navbar-nav {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    font-size: 50px;
}

.buttons{
    cursor: pointer;
}

.bg-1{
    background-color: #D9D9D9;
}

.bg-2{
    background-color: #C6C6C6;
}

.bg-3{
    background-color: #2168AA;
}

.nav-link {
    width: 100%;
    padding: 0% !important;
}

.text-30-bold{
    font-size: 30px !important;
    color: black !important;
    font-weight: bold;
}

.text-30-white-bold{
    font-size: 30px !important;
    color: white !important;
    font-weight: bold;
}

.text-25 {
    font-size: 25px;
    color: black !important;
}

.text-25-bold {
    font-size: 25px;
    color: black !important;
    font-weight: bold;
}

.text-20 {
    font-size: 20px;
    color: black !important;
}

.text-20-bold {
    font-size: 20px;
    color: black !important;
    font-weight: bold;
}

.text-15-bold {
    font-size: 15px;
    color: black !important;
    font-weight: bold;
}

.cont-nav {
    justify-content: center !important;
}

.text-25-white-bold{
    font-size: 20px;
    color: white !important;
    font-weight: bold;
}

.contact-button {
    font-size: 25px;
    padding: 10px 20px;
    color: white !important;
    text-decoration: none;
}

.div-contact-button{
    width: fit-content;
    margin-top: 5px;
    padding: 10px 10px;
    background-color: #2168AA;
    border-radius: 45px;
}

.div-name{
    text-align: center;
    width: 100%;
}

.div-job{
    text-align: right;
    width: 100%;
}

.dashboard-info{
    width: 450px;
    top: 400px;
    left:100px;
    background-color: rgba(0, 105, 255, 0.4);
    padding: 20px 35px 20px 35px;
    border-radius: 45px;
}

.relative {
    position: relative;
}

.absolute{
    position: absolute;
}

.section{
    padding: 60px 40px 40px 40px !important;
}

.div-title{
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.div-about-description{
    padding-left: 20px;
}

.blue-ball{
    margin: 5px;
    padding: 20px;
    border-radius: 50%;
    background-color: #00d1ff;
    margin-bottom: auto;
}

.div-blue-ball{
    background-color: #D9D9D9;
    margin: 10px 10px;
    padding: 15px;
    border-radius: 35px;
    vertical-align: top;
    align-items: center;
}

.inside-div-blue-ball{
    background-color: #C6C6C6;
    padding: 15px;
    margin: 5px 0px 5px 0px;
    border-radius: 35px;
    text-align: center;
}

.inside-div-blue-ball > .row > .col {
    background-color: #D9D9D9;
    padding: 15px;
    margin: 5px 15px 5px 15px;
    border-radius: 35px;
}

.justify-center {
    justify-content: center !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.project-square{
    border: 1px;
}

.img-follow-me{
    object-fit: cover;
    width: 60px;
    height: auto;
}

/******** id ********/

#dash-image{
    object-fit: cover;
    width: 100%;
    height: 80%;
}

#image-button{
    width: 40px;
    height: 40px;
}

#about-image{
    object-fit: cover;
    width: 400px;
    height: 300px;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(33, 104, 170, 0.5);
    box-shadow: 0 0 5px 5px rgba(33, 104, 170, 0.5);
}

#follow-me{
    background-color: #C6C6C6;
    padding: 15px;
    border-radius: 35px;
}

#contact{
    padding-bottom: 50px !important;
}

#developed{
    margin-right: 200px;
}